extends layout.pug

block content
  div(class="bg-white w-full rounded p-8")
    table(class="text-gray-600")
      thead
        tr
          th(class="p-4") Item
          th(class="p-4") Quantity
          th(class="p-4")

      tbody(id="tablebody")
